/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

/* Back to top */

#backtotop.visible {
    opacity: 0.5;
    visibility: visible;
    transition: 0.2s;
}

#backtotop {
    background-color: #9d8d65;
    color: #ffffff;
}

#backtotop {
    bottom: 20px;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    opacity: 0.2;
    position: fixed;
    right: 20px;
    text-align: center;
    visibility: hidden;
    width: 36px;
    z-index: 999;
}

#backtotop:hover {
    opacity: 1;
}




/*-- Team Section -- */

.team-title h2 {padding:30px 0px;}

.owl-carousel .owl-item .single-team-person .single-small-info img {
    border: 3px solid #25A7DF;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
}

.single-small-info {
    text-align: center;
}
.single-team-person {
    position: relative;
    margin: 10px auto;
    width: 240px;
    height: 235px;
    z-index: 1;
}
.single-team-person {
    perspective: 1000;
}
.single-adv {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .45s linear;
}
.single-team-person:hover .single-adv {
    transform: rotateY(180deg);
    box-shadow: 0 0 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #333;
}
.face:hover .per-info{
    visibility: hidden;
}